<div title="_form" class="row error">
  <div class="small-12 text-center columns">
      <div class="alert-box alert"><%= error_msg(@comment) %></div>
  </div>
</div>
<%= form_for @comment, remote: true do |f| %>
  <%= f.hidden_field :post_id, value: @comment.post_id %>
  <%= f.label :description %>
  <%= f.text_area :description %>
  <%= f.submit 'Save' %>
<% end %>
