<div  class="row" id="<%= dom_id(@post) %>">
    <div class="small-6 columns">
      	<h2><%= @post.title %></h2>
      	<td><%= @post.description %></td>
    </div>
  <br class="clear" />
</div>
<%= render 'comments/form', post: @post %>
<% @post.comments.each do |comment| %>
  <div><%= comment.description %></div>
<% end %>
