<div class="row">
    <div class="small-4 small-offset-3 columns">
    <%= link_to "Topic", topic_path(@post.topic) %>
    	<h2><%= @post.title %></h2>
    	<td><%= @post.description %></td>
      <% if @post.user == current_user %>
      <ul class="button-group [tiny secondary]">
        <li class="button tiny secondary"><%= link_to "Edit", edit_topic_post_path(@post.topic, @post) %></li>
        <li class="button tiny secondary"><%= link_to "Destroy", [@post.topic, @post], method: :delete, data: {confirm: 'Are you sure?'} %></li>
      </ul>
     <% end %>
      <%= form_for Vote.new do |f| %>
        <%= f.hidden_field :upordown, value: "up" %>
        <!-- <input type="hidden" name="vote[upordown]" > /-->
        <%= f.hidden_field :post_id, value: @post.id %>
        <%= f.submit value: 'up' %>
      <%- end -%>
      <%= @score %>
    </div>
</div>

<div style="border-top-style: dotted"></div>
  <div class="row">
    <div class="small-10 small-offset-3 columns">
      <h5>Comments <%= @comments.count%></h5>
      <div class="comments" id="comment_scroll">
      <% @comments.each do |comment| %>
        <h5><%= comment.user.email %></h5>
        <div class="comment"><%= comment.description %></div>
        <% if @comment.user == current_user || @post.user == current_user %>
        <li class="button tiny secondary"><%= link_to "delete", comment, method: :delete, data: {confirm: 'Are you sure?'} %></li>
        <% end %>
      <% end %>
      </div>
    </div>
  </div>

<div style="border-top-style: dotted"></div>
<div class="row">
  <div class="small-10 small-offset-3 centered columns">

      <h3>Add Comment</h3>
      <%= link_to "New Comment", new_comment_path(:post_id => @post.id), id: "new_comment_link", remote: true %>
    </div>
    <br class="clear" />
</div>



