<div class="row show-topics">
  <div class="small-10 small-centered columns">

    <div class="row">
        <div class="small-6 columns">
        <%= link_to @post.topic.title, topic_path(@post.topic) %>
        	<h2><%= @post.title %></h2><%= @post.rank.to_i %> Rank
          <div><%= image_tag @post.image_url.to_s %></div>
        	<td><%= @post.description %></td>
          <%= crud_post(@post) %>
          <%= vote_link(@post) %>
        </div>


        <div class="small-6 columns">
          <h5 id='comments_count'><%= pluralize(@comments.count, 'Comment') %></h5>
          <div class="comments" id="comment_scroll">
          <% @comments.each do |comment| %>
            <%= render partial: 'comments/comment', locals: { comment: comment } %>
          <% end %>
          <%= will_paginate @comments %>
          </div>

          <div style="border-top-style: dotted"></div>
            <h3>Add Comment</h3>
              <%= new_comment(@post) %>
          </div>
              <br class="clear" />
          </div>
        </div>
    </div>


  </div>
</div>
