<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "READIT" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
  <nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><a href="/topics">READIT</a></h1>
    </li>
     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <% if user_signed_in? %>
      <li class="active"><%= link_to "Log Out", destroy_user_session_path, method: :delete %></li>
      <li class="has-dropdown">
        <a href="#">Profile</a>
        <ul class="dropdown">
          <li><%= link_to "Favorite Posts", favorites_path %></li>
          <li><%= link_to "Edit Profile", edit_user_registration_path %></li>
          <li><%= link_to "Edit Password", edit_user_password_path %></li>
        </ul>
      </li>
      <% else %>
      <li class="active"><%= link_to "Log In", new_user_session_path %></li>
      <li><%= link_to "Register", new_user_registration_path %></li>
      <% end %>
    </ul>

    <!-- Left Nav Section -->
    <% @topics.each do |topic| -%>
      <ul class="left">
        <li><%= link_to topic.title, topic_path(topic) %></li>
      </ul>
    <% end %>
  </section>
</nav>
<div class="row" >
    <div class="small-12 columns" >

    <% flash.each do |type, message| %>
    <div class="flash alert-box round text-center <%= type %>">
      <%= message %>
      <a href="#" class='close'>&times;</a>
    </div>

    <% end %>

    <%= yield %>

    </div>
  </div>

  <footer class="row">
    <div class="small-8 small-centered large-5 columns text-center">

    </div>
  </footer>

  </body>
</html>
