<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "READIT" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
  <nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><a href="/topics">READIT</a></h1>
    </li>
     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <li class="active"><a href="#">Login</a></li>
      <li class="has-dropdown">
        <a href="#">Profile</a>
        <ul class="dropdown">
          <li><a href="#">First link in dropdown</a></li>
          <li class="active"><a href="#">Active link in dropdown</a></li>
        </ul>
      </li>
    </ul>

    <!-- Left Nav Section -->
    <ul class="left">
      <li><a href="/topics/9">Hot</a></li>
      <li><a href="#">New</a></li>
      <li><a href="/topics/10">Rising</a></li>
      <li><a href="#">Controversial</a></li>
      <li><a href="#">Top</a></li>
    </ul>
  </section>
</nav>
<div class="row" >
    <div class="small-10 centered columns" >

    <% flash.each do |type, message| %>
    <div class="flash alert-box round text-center <%= type %>">
      <%= message %>
      <a href="#" class='close'>&times;</a>
    </div>

    <% end %>

    <%= yield %>

    </div>
  </div>

  <footer class="row">
    <div class="small-8 small-centered large-5 columns text-center">

    </div>
  </footer>

  </body>
</html>
